.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8f8f8;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.main-box {
  height: 100%;
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 200px 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.header {
  display: grid;
  grid-row: 1;
  grid-column: 1/-1;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.header-content {
  text-align: center;
}

.loading-icon {
  display: inline-block;
  align-content: center;
  align-items: center;
}

.control-panel {
  display: inline;
  position: relative;
  grid-row: 2;
  grid-column: 1;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  background-color: #f8f8f8;
}

.control-header {
  text-align: center;
}

.display-panel {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-template-rows: 40px 2fr;
  grid-template-columns: 2fr 2fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  background-color: #f8f8f8;
}

.display-header {
  grid-column: -1/1;
  text-align: center;
}

.reference-point-input {
  display: grid;
  margin: 5px 10px 5px 5px;
}

.iterate-btn {
  display: grid;
  grid-row: -1;
  cursor: pointer;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95%;
}

.plot {
  background-color: #ffffff;
  height: 80%;
  margin: 8px 8px 8px 8px;
  border: 2px black solid;
  border-radius: 1%;
}

.tableSelected {
  background-color: #BEE5EB;
}